* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  font-size: 62.5%;

  font-family: 'Roboto', sans-serif;
}

.picOne .pictwo .picthree{
  position: absolute;
  z-index: -1;
}

.hide {
  display: none;
}